* {
    box-sizing: border-box;
}
header {
    background-image: url(https://github.com/UWFront-End-Cert/html200-adopt-a-dog/blob/master/images/header-image.jpg?raw=true);
}

h1 {
    color: #132639;
}
footer {
    background-color: #132639;
}
footer p {
    color: white;
}